.wrap {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.author {
  font-weight: 600;
}

.stars {
  display: flex;
  gap: 1px;
}
